<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exercício1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>

    <div id="app">
        <h1>Nota Prática</h1>
        <input type="text" v-model="pratica">
        <h1>Nota Teórica</h1>
        <input type="text" v-model="teorica">
        <br><br>
        <button v-on:click="soma(pratica,teorica)">Soma</button>
        <br>
        <h2>{{numero}}</h2>
        <h1>{{numero>9?'Aprovado':'Reprovado'}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>

<script>

var aplicacao = new Vue({
        el: '#app',
        data:{
            numero:0,
            pratica:0,
            teorica:0
        },
        methods:{
            soma: function(pratica,teorica){
                this.numero=(pratica*1+teorica*1)/2
            }
        }
    })
    </script>


</body>

</html>